<div class="workspace-layout">
  <div class="card upload-card">
    
    <div class="gender-selector-area">
      <label for="genderSelect" class="gender-label">🧬 Género Biológico del Paciente:</label>
      <select id="genderSelect" class="gender-select" (change)="onGenderChanged($event)">
        <option value="Male">Masculino</option>
        <option value="Female">Femenino</option>
        <option value="Unknown">Indeterminado / Desconocido</option>
      </select>
    </div>

    <input type="file" (change)="onFileSelected($event)" accept="image/*" id="fileInput" />
    <label for="fileInput" class="dropzone">
      <span>📸 Subir Radiografía de Tórax Digital</span>
      <small>Formatos válidos: JPEG y PNG monocromáticos</small>
    </label>
  </div>

  @if (errorMessage()) {
    <div class="error-banner">
      🛑 <strong>Muestra Rechazada:</strong> {{ errorMessage() }}
    </div>
  }

  <div class="diagnostic-grid">
    @if (imagePreview()) {
      <div class="card viewer-card">
        <div class="negatoscopio">
          <img [src]="imagePreview()" [class.blur]="isLoading()" alt="Placa Rx" />
          @if (isLoading()) {
            <div class="laser-scanner"></div>
            <div class="loader-txt">Procesando Tensores...</div>
          }
        </div>
        <button (click)="evaluateImage()" [disabled]="isLoading()" class="btn-execute">
          🧠 Iniciar Inferencia Neural
        </button>
      </div>
    }

@if (predictions().length > 0) {
        <div class="card results-card">
            <div class="results-header">
                <h3>📋 Análisis Automatizado de Hallazgos:</h3>
                
                @if (processedMetadata()) {
                <div class="metadata-badge">
                    <span>🧬 Contexto Demográfico: <strong>{{ processedMetadata().genero_recibido === 'Male' ? 'Masculino' : 'Femenino' }}</strong></span>
                    <small>Peso Tensor: ({{ processedMetadata().valor_numerico | number:'1.1-1' }})</small>
                </div>
                }
            </div>

            <div class="metrics-list">
                @for (item of predictions(); track item.pathology) {
                <div class="metric-row">
                    <div class="meta">
                        <span>{{ item.pathology }}</span>
                        <strong>{{ (item.probability * 100) | number:'1.1-1' }}%</strong>
                    </div>
                    <div class="bar-bg">
                        <div class="bar-fill" [style.width.%]="item.probability * 100"
                            [class.red]="item.probability >= 0.7"
                            [class.orange]="item.probability >= 0.3 && item.probability < 0.7"
                            [class.green]="item.probability < 0.3">
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
        }
  </div>
</div>